@inherits LayoutComponentBase

<TelerikRootComponent>

    <div class="main">

        <div class="top-row">
            <h2 style="padding-left: 16px">Geoproject</h2>
        </div>

        <div id="containerDiv">
            @Body
        </div>

    </div>

</TelerikRootComponent>

    @*<div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            

            <div class="content px-4">
                @Body
            </div>
        </div>*@

