
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px;
}

/*Telerikes piros felülírása*/
.k-text-selection ::selection, .k-block ::selection, .k-panel ::selection, .k-pane-wrapper ::selection,
.k-view ::selection, .k-progressbar ::selection, .k-numerictextbox ::selection, .k-flatcolorpicker ::selection,
.k-combobox ::selection, .k-dateinput ::selection, .k-datepicker ::selection, .k-datetimepicker ::selection,
.k-timepicker ::selection, .k-dropdown ::selection, .k-dropdowntree ::selection, .k-multiselect ::selection,
.k-maskedtextbox ::selection, .k-rating ::selection, .k-window ::selection, .k-drawer ::selection,
.k-notification ::selection, .k-breadcrumb ::selection, .k-pager-wrap ::selection, .k-panelbar ::selection,
.k-card ::selection, .k-splitter ::selection, .k-spreadsheet ::selection, .k-scheduler ::selection,
.k-chat ::selection, .k-mediaplayer ::selection, .k-pdf-viewer ::selection,
kendo-scrollview.k-scrollview-wrap ::selection, div.k-scrollview ::selection, .k-chart ::selection,
.k-sparkline ::selection, .k-stockchart ::selection, .k-state-selected, .k-text-selection ::selection,
.k-grid-header .k-grid-filter.k-state-active, .k-grid-header .k-header-column-menu.k-state-active, 
.k-grid-header .k-hierarchy-cell .k-icon.k-state-active {
    background-color: rgb(147, 220, 105) !important;
    color: white !important;
}

.k-button.k-primary {
    border-color: rgb(147, 220, 105) !important;
    color: #ffffff;
    background-color: rgb(147, 220, 105) !important;
    background-image: linear-gradient(rgba(147, 220, 105, 0), rgba(147, 220, 105, 0.2));
}

.k-checkbox:checked {
    border-color: rgb(147, 220, 105) !important;
    color: #ffffff;
    background-color: rgb(147, 220, 105) !important;
}

.k-checkbox:checked:focus {
    border-color: #ff6358;
    box-shadow: 0 0 0 2px rgba(147, 220, 105, 0.3) !important;
}

a, .btn-link {
    color: #0366d6;
}


.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-row {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-start;
    background-color: rgb(147, 220, 105);
}

#containerDiv {
    height: 100%;
    padding: 10px !important;
}

.view-size-page {
    max-width: 100% !important;
    max-height: calc(100vh - 69px) !important;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px !important;
    margin: 0px !important;
}



.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

div.smallerFont.k-grid td {
    padding: 2px 6px;
}

div.smallerFont,
div.smallerFont .k-filtercell * {
    font-size: 11px;
}

div.smallerFont .k-dropdown.k-header.k-dropdown-operator {
    width: calc(9px + 2em) !important;
}

div.smallerFont .k-grid-edit-cell input {
    font-size: 11px;
}

.gridText {
    margin: 0px;
}

.k-multiselect-wrap {
    overflow-y: scroll
}

.custom-grid-command-button {
    height: 20px !important;
}

.k-window-titlebar {
    background-color: rgb(147, 220, 105) !important;
}

.button-primary {
    color: white !important;
    border-radius: 4px !important;
    padding: 7px 20px !important;
    font-size: 15px !important;
    background-color: rgb(147, 220, 105) !important;
    background-image: none !important;
}

.button-primary:hover {
    background-image: none !important;
    background-color: rgb(91, 177, 41) !important;
}




