@page "/"
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authStateProvider

<h1>Login</h1>

<AuthorizeView>
    <Authorized>
        <p>Welcome, @context.User.Identity.Name</p>
    </Authorized>
    <NotAuthorized>
        <p>not authorized</p>
    </NotAuthorized>
</AuthorizeView>

<TelerikTextBox @bind-Value="FelhasznaloNev" Label="Felhasználó">
</TelerikTextBox>

<TelerikTextBox @bind-Value="Jelszo" Label="Jelszó">
</TelerikTextBox>

<TelerikButton @onclick="Bejelentkezes">Bejelentkezés</TelerikButton>

Welcome to your new app.

@code {

    public string FelhasznaloNev { get; set; }

    public string Jelszo { get; set; }


    public async void Bejelentkezes( )
    {

        ( authStateProvider as CustomAuthStateProvider ).LogInUser( "mate" );
        navigationManager.NavigateTo( "menu" );

    }

    protected override async Task OnAfterRenderAsync( bool first )
    {
        var a = 0;
    }


}